.app {
  margin-left: 40px;
  display: flex;
  flex-direction: row;

  .main-panel {
    display: flex;
    flex-direction: column;

    .script-input {
      width: 700px;
    }

    .load-button {
      margin-top: 20px;
    }
  }

  .chip-8 {
    margin-top: 40px;
    margin-left: 100px;
    border: 1px solid black;
    width: 500px;

    .display {
      border: 1px solid black;
      width: 400px;
      height: 200px;
      margin-left: 50px;
      margin-top: 50px;
    }
  }
}